body {
    background: rgb(53, 52, 52);
    font: larger Lato, Roboto, sans-serif;
    font-family: Andale Mono, monospace;  

}

.contacts{
    font: larger Lato, Roboto, sans-serif;
    font-family: Andale Mono, monospace;
    word-wrap: break-word;
    padding: 0px;
    display: -ms-inline-grid;
    font-size: small;
}

ul li{
    display: inline;
  }

.name {
    font-variant: small-caps;
    text-align: center;
    color: white;
    border:0px black solid;
    background: rgb(65, 61, 61);
    /* display:flex;  <-- can be used for jobs later*/
    padding: 10px;
}

.about{
    padding: 20px;
    color:white;
    width: 85%;
    
}

.education{
    padding: 20px;
    color:white;
    width: 85%;
}

.weight{
    font-weight: 900;
    font-size: large;
}
