body {
    background: rgb(53, 52, 52);
    font: larger Lato, Roboto, sans-serif;
    font-family: Raleway, sans-serif;

}

.contacts{
    font: larger Lato, Roboto, sans-serif;
    font-family: Andale Mono, monospace;
    word-wrap: break-word;
    padding: 0px;
    display: -ms-inline-grid;
    font-size: small;
}

ul li{
    display: inline;
  }

.name {
    color: white;
    border:0px black solid;
    background: rgb(65, 61, 61);
    /* display:flex;  <-- can be used for jobs later*/
}

.about{
    padding: 10px;
    color:white;
    width: 85%;
    
}

.education{
    padding: 10px;
    color:white;
    width: 85%;
}

.weight{
    font-weight: 900;
    font-size: large; 
} 

.raleway{
    font-family: Raleway, sans-serif;
}

.margin1{
    margin: 0px 0px 0px -3px;
}